<nav class="navbar">
  <div class="navbar-brand">
    <a href="https://happmobi.com.br" target="_blank">
        Happmobi
    </a>
  </div>
  <ul class="navbar-nav">
    <mat-icon class="menu"  [matMenuTriggerFor]="menu">menu</mat-icon>
    <mat-menu #menu="matMenu">
      <a  mat-menu-item href="https://www.linkedin.com/in/weverton-procopio/" target="_blank">Linkedin</a>
      <a mat-menu-item href="https://github.com/wevertondiogo"  target="_blank">Github</a>
    </mat-menu>
  </ul>
</nav>





